
/*.bodyclass{
    color: #ecfff8;
    width:100%;
}

.buttonclass {

    margin:2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1em;
    color: #405330;
    display: block;
    height: 0.1%;
    width: 20%;
}
.labelclass{
    padding:1%;
    margin-top:10%;
}
.textbox {
    padding: 5% 5% 5% 5%;
    margin-outside: 1%;
    display: inline-block;
    row-span: 3;
    font-size: 8rem;

    background: #eeffae;
    color: #051508;
    height:5px;
    width:100%;
    font-size: 1em;
    font-weight: 600;
    text-align: match-parent;
    text-transform: capitalize;
}
.field-css{
    font-size: 1em;
    display: inline-block;
    padding-top: 10%;
    width:80%;
    padding: 5% 5% 5% 5%;
    background: #eeffae;
    font-family: "Times New Roman", Times, serif;
    font-size: large;


}

.thumbnail img{
    height:auto;
    width:100%;
}




thead {color:green;}
tbody {color:blue;}
tfoot {color:red;}

table, th, td, tr {
    border: 1px solid black;
}

/*.tableclass td, th, tr {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left:10%;
    padding-right:10%;
    border: 1px solid #051508;
    text-align: center;
    padding: 8px;
    font-size: 1em;


    /*margin-right:10%;
    margin:5%;
    background-color: #8bc991;
    font-family: arial, sans-serif;
    border-collapse: collapse;

    font-size: 1.5em;
}

.tableclass table, input{

   /* margin-right:10%;
    margin:5%;
    width:100%;

background-color: #c5ff95;
font-family: arial, sans-serif;
font-size: 2rem;
border-collapse: collapse;
display: block;
color: #051508;
padding: 5px 5px;
background: none;
text-overflow: ellipsis;
box-sizing: border-box;
}
*/


/*.bodyclass{
    color: #ecfff8;
}

.buttonclass {

    margin:1%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1rem;
    color: #11120c;
    display: block;
    height: 0.1%;
    width: 20%;
    background-color: #4cae4c;
    color: #051508;
    alignment: right;
    font-size: large;
}
.labelclass{
    padding:1%;
    margin-top:10%;
}
.textbox {
    padding: 1%;
    width:80%;
    background: #eeffae;
    border: 1px solid #96bcff;
    border-radius: 1px;
    color: #051508;
    height:2px;
    font-size: 1em;
    text-transform: capitalize;
}


.field-css{
    border: solid #384c1d;
    padding: 5%;
    width: 100%;
    background: #eeffae;
    font-family: "Times New Roman", Times, serif;
    font-size: large;


}

table {
    margin-right:10%;
    margin:5%;
    background-color: #8bc991;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 1.5em;
}

td, th {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left:10%;
    padding-right:10%;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-size: 1em;
}

.tableclass table, input{
    background-color: #2c3749;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    display: block;
    color: #051508;
    padding: 5px 10px;
    background: none;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.tableclass td, th {
    color: #051508;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #2c3749;
    text-align: center;
    padding: 5px 10px;
    table-layout: fixed;
    word-break: break-all;
    word-wrap:break-word;

}*/


